* {
    box-sizing: border-box;
}

:root {
    --main-color: #003049;
    --card-color: #DACC3E;
    --main-highlight: #008DD5;
    --light-color: #F9E9EC;
    --card-lowlight: #76B041;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 25%);
}

.header {
    grid-area: 1 / 2 / 2 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    height: 20vh;
}

.nav {
    grid-area: 2 / 1 / 5 / 2;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin: 1em;
}

.main-container {
    grid-area: 2 / 2 / 5 / 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em;
}

.card {
    width: 20%;
    height: auto;
    background-color: #DACC3E;
    margin: 1em;
}