@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,300&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-color: #003049;
    --card-color: #DACC3E;
    --main-highlight: #008DD5;
    --light-color: #F9E9EC;
    --card-lowlight: #76B041;
    --header-font: Josefin Sans, Helvetica;
    --info-font: Poppins, Helvetica;
}

body {
    background-color: var(--main-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 15vh, 1fr, 1fr, 1fr, 1fr;
}

.header {
    grid-area: 1 / 2 / 2 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--main-highlight);
    font-family: var(--header-font);
    text-transform: uppercase;
    height: 30vh;
}

.header h1 {
    font-size: 10em;
    opacity: 50%;
    z-index: -1;
    position: fixed;
}

.header h3 {
    font-size: 3em;
    margin-top: 6em;
    margin-bottom: 2em;
    position: fixed;
    color: var(--main-highlight);
    z-index: -1;

}

.nav {
    grid-area: 2 / 1 / 7 / 2;
    margin-left: 2em;
    font-size: 1.5em;   
    font-family: var(--header-font); 
    text-transform: uppercase;
    color: var(--light-color);
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin: 1em;
}

li:hover {
    color: var(--card-lowlight);
    cursor: pointer;
}

.main-container {
    grid-area: 2 / 2 / 7 / 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: .5em;
    gap: .2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35%;
    height: auto;
    background-color: #DACC3E;
    margin: 1em;
    border-radius: 4px;
    text-align: center;
    font-family: var(--info-font);
}

.card:hover {
    background-color: var(--card-lowlight);
    box-shadow: 5px 5px 5px #001d2ce5;
}

img {
    width: 90%;
    border-radius: 2px;
}