* {
    box-sizing: border-box;
}

:root {
    --main-color: #003049;
    --card-color: #DACC3E;
    --main-highlight: #008DD5;
    --light-color: #F9E9EC;
    --card-lowlight: #76B041;
}

body {
    background-color: var(--main-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 25%);
}

.header {
    grid-area: 1 / 2 / 2 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em;
    color: var(--main-highlight);
}

.header h1 {
    font-size: 10em;
    position: fixed;
}

.header h3 {
    font-size: 3em;
    margin-top: 5em;
    margin-bottom: 2em;
    position: fixed;
}

.nav {
    grid-area: 2 / 1 / 7 / 2;
    width: 20%;
    margin-left: 2em;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    margin: 1em;
}

.main-container {
    grid-area: 3 / 2 / 7 / 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
}

.card {
    width: 30%;
    height: auto;
    background-color: #DACC3E;
    margin: 1em;
    border-radius: 4px;
}